@page "/SharedInformation"
@using Microsoft.Extensions.Localization
@using global::HQSOFT.SharedInformation.Localization
@inject IStringLocalizer<SharedInformationResource> L
@{
}
<h1>SharedInformation</h1>
<p>@L["SamplePageMessage"]</p>